<form>
    <h3><b>THE BOOK LIST</b></h3>
<select name="booksName" [(ngModel)]="status" (change)="getBookDeatails(status)"> 
        <option [value]="select" selected>Please select book..</option> 
   <option  [value]="x.url" *ngFor="let x of products">{{x.name}}</option>

</select>


<div  *ngIf="bookDetail">
        <table>
            <h2>DETAILS OF BOOK</h2>
          <tr>
                <td><b>Authors</b></td>
                <td>{{bookDetail.authors}}</td>
          </tr>
          <tr>
                <td><b>Country</b></td>
                <td>{{bookDetail.country}}</td>
          </tr>
          <tr>
                <td><b>Publisher</b></td>
                <td>{{bookDetail.publisher}}</td>
          </tr>
          <tr>
                <td><b>Released Date</b></td>
                <td>{{bookDetail.released | date:'shortDate'}}</td>
          </tr>
          <tr>
                <td><b>Type of Media</b></td>
                <td>{{bookDetail.mediaType}}</td>
          </tr>
        </table>
      </div>

</form>

